asgiref==3.4.1
Django==3.2.5
django-ckeditor==6.1.0
django-ckeditor-updated==4.4.4
django-crispy-forms==1.12.0
django-js-asset==1.2.2
django-resized==0.3.11
Pillow==9.0.1
pytz==2020.1
slugify==0.0.1
sqlparse==0.3.1
